{
    "setup_user": "root",
    "setup_pass": "password",
    "users": {
        "internal":{
            "nssk": "password",
            "nssk_import": "password",
            "nssk_backup": "password",
            "nssk_admin": "password"
        },
        "external": {
            "dummy-user1": {
                "password": "password",
                "databases": ["NSSK_COSMO"],
                "privileges": [ "SELECT" ]
            },
            "dummy-user2": {
                "password": "password",
                "databases": "*",
                "privileges": [ "SELECT", "UPDATE", "INSERT" ]
            }
        }
    },
    "network": {
        "listen_ip": "127.0.0.1",
        "listen_port": 23306,
        "local_network": "127.0.0.1",
        "container_network": "9.9.1.%",
        "wan_network": "%"
    }
}
