CREATE TABLE $SITE (
    MeasurementTimeStamp DATETIME,
    PrelimaryDischarge DOUBLE,
    RevisedFinalStage DOUBLE
);

ALTER TABLE $SITE ADD UNIQUE measurementtimestamp (MeasurementTimeStamp);
ALTER TABLE $SITE ADD PRIMARY KEY (MeasurementTimeStamp);