CREATE TABLE $SITE (
	MeasurementTimestamp DATETIME NOT NULL,
	AirTemperature DECIMAL(9,7) NULL,
	BarometricPressure DECIMAL(10,5) NULL,
	HourlyRainfall DECIMAL(6,3) NULL,
	Rainfall DECIMAL(6,3)
);

ALTER TABLE $SITE ADD UNIQUE measurement (MeasurementTimestamp);
ALTER TABLE $SITE ADD PRIMARY KEY (MeasurementTimestamp);
