CREATE TABLE $SITE (
	MeasurementTimestamp DATETIME NOT NULL,
	AirTemperature DOUBLE NULL,
	BarometricPressure DOUBLE NULL,
	HourlyRainfall DOUBLE NULL,
	Rainfall DOUBLE
);

ALTER TABLE $SITE ADD UNIQUE measurement (MeasurementTimestamp);
ALTER TABLE $SITE ADD PRIMARY KEY (MeasurementTimestamp);
