CREATE TABLE $SITE (
	COSMO_TIMESTAMP DATETIME NOT NULL,
	CNV_FLOWWORKS_RAINFALL_AMOUNT FLOAT NOT NULL,
	CNV_FLOWWORKS_AIR_TEMPERATURE FLOAT,
	CNV_FLOWWORKS_BARO_PRESSURE FLOAT,
	COSMO_WATER_TEMPERATURE FLOAT,
	COSMO_CONDUCTANCE_RESULT FLOAT,
	CNV_HYDROMETRIC_REVISED_FINAL_STAGE FLOAT
);

ALTER TABLE $SITE ADD UNIQUE cosmotimestamp (COSMO_TIMESTAMP);
ALTER TABLE $SITE ADD PRIMARY KEY (COSMO_TIMESTAMP);