CREATE TABLE $SITE (
	MeasurementTimestamp DATETIME,
	FlowReading DOUBLE
);

ALTER TABLE $SITE ADD UNIQUE measurement (MeasurementTimestamp);
ALTER TABLE $SITE ADD PRIMARY KEY (MeasurementTimestamp);
