# not using 'notes' field for now - security risk and not likely used in data analysis
# there seem to be 2 dissolved_organic_carbon fields in the dumps. they dont appear to be used so they are not captured in the db schema

CREATE TABLE $SITE (
    ObservedOn DATETIME,
    ObservedBy varchar(255),
    SampleId varchar(255),
    Testers varchar(255),
    HilsenhoffBioticIndex DOUBLE,
    Microfibers DECIMAL(9,6),
    Microbeads DECIMAL(9,6),
    Fragments DECIMAL(9,6),
    Film DECIMAL(9,6),
    Ph DOUBLE,
    Clarity DOUBLE,
    Nitrites DOUBLE,
    Conductivity DOUBLE,
    Alkalinity DOUBLE,
    Turbidity DOUBLE,
    Hardness DOUBLE,
    TotalKjeldahlNitrogen DOUBLE,
    TotalPhosphorus DOUBLE,
    OtherColiform DECIMAL(9,6),
    TotalColiform DECIMAL(9,6),
    ChlorophyllA DOUBLE,
    TotalPhosphorusBottom DOUBLE,
    TurbidityNtu DOUBLE,
    Calcium DOUBLE,
    BiochemicalOxygenDemand DOUBLE,
    TotalSuspendedSolids DOUBLE,
    IncubationTime DOUBLE,
    IncubationTemperature DOUBLE,
    OxygenPercent DOUBLE,
    Enterococci DECIMAL(9,6),
    WaterFlow DOUBLE,
    Chloride DOUBLE,
    RiverFlow DOUBLE,
    RiverStage DOUBLE,
    Fluorometer DOUBLE,
    Oxygen DOUBLE,
    WaterDepth DOUBLE,
    Chlorine DOUBLE,
    Nitrates DOUBLE,
    PhosphatesThreshold DECIMAL(9,6),
    TestStrips DECIMAL(9,6),
    WaterTemperature DOUBLE,
    AirTemperature DOUBLE,
    Salinity DOUBLE,
    Taxa DECIMAL(9,6),
    Civ DECIMAL(9,6),
    TotalDissolvedSolids DOUBLE,
    Ammonia DOUBLE,
    Ecoli DECIMAL(9,6)
);

ALTER TABLE $SITE ADD UNIQUE measurement (ObservedOn);
ALTER TABLE $SITE ADD PRIMARY KEY (ObservedOn);
