CREATE TABLE RAINFALL_EVENTS (
	EVENT_START_TIMESTAMP DATETIME,
	EVENT_END_TIMESTAMP DATETIME,
	EVENT_ID INTEGER(7)
);

ALTER TABLE RAINFALL_EVENTS ADD UNIQUE event_start_timestamp (EVENT_START_TIMESTAMP);
ALTER TABLE RAINFALL_EVENTS ADD UNIQUE event_id (EVENT_ID);
ALTER TABLE RAINFALL_EVENTS ADD PRIMARY KEY (EVENT_START_TIMESTAMP);
