CREATE TABLE $MONITORING_LOCATION_ID (
	CNV_FLOWWORKS_TIMESTAMP DATETIME NOT NULL,
	CNV_FLOWWORKS_RAINFALL_AMOUNT DOUBLE NOT NULL,
	CNV_AIR_TEMPERATURE DOUBLE,
	COSMO_CONDUCTANCE_RESULT DOUBLE,
	DNV_FLOWWORKS_FLOW_READING DOUBLE,
	RAINFALL_EVENT_ID INTEGER(7) NOT NULL
);

ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE cnvrainfalltimestamp (CNV_FLOWWORKS_TIMESTAMP);
ALTER TABLE $MONITORING_LOCATION_ID ADD PRIMARY KEY (CNV_FLOWWORKS_TIMESTAMP);
