CREATE TABLE $MONITORING_LOCATION_ID (
	CNV_FLOWWORKS_TIMESTAMP DATETIME NOT NULL,
	CNV_FLOWWORKS_RAINFALL_AMOUNT DECIMAL(6,3) NOT NULL,
	CNV_AIR_TEMPERATURE DECIMAL(9,7),
	COSMO_CONDUCTANCE_RESULT DECIMAL(7,3),
	DNV_WHITEWATER_FLOW_READING DECIMAL(12,8),
	RAINFALL_EVENT_ID INTEGER(7) NOT NULL
);

ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE cnvrainfalltimestamp (CNV_FLOWWORKS_TIMESTAMP);
ALTER TABLE $MONITORING_LOCATION_ID ADD PRIMARY KEY (CNV_FLOWWORKS_TIMESTAMP);
