CREATE TABLE $MONITORING_LOCATION_ID (
	CosmoTimeStamp DATETIME,
	Conductance DOUBLE,
	RainfallAmount DOUBLE
);

ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE cosmotimestamp (CosmoTimeStamp);
ALTER TABLE $MONITORING_LOCATION_ID ADD PRIMARY KEY (CosmoTimeStamp);