CREATE TABLE $MONITORING_LOCATION_ID (
	CosmoTimeStamp DATETIME,
	Conductance DECIMAL(7,3),
	RainfallAmount DECIMAL(6,3)
);

ALTER TABLE $MONITORING_LOCATION_ID ADD UNIQUE cosmotimestamp (CosmoTimeStamp);
ALTER TABLE $MONITORING_LOCATION_ID ADD PRIMARY KEY (CosmoTimeStamp);